body {
    font-family: 'Titillium Web', sans-serif;
    background-color: white;
    color: darkslategray;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.formular {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 1px solid silver;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: 0 0 10px darkgray;
}

.formular .radek {
    display: block;
    margin-top: 1em;
}

.formular .radek.controls {
    display: flex;
    justify-content: center;
}

.formular .pohlavi {
    display: flex;
    flex-direction: row;
}

.formular .turnus {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.error {
    color: red;
    font-weight: bold;
}

